@charset "UTF-8";

* {
    color: rgb(40, 40, 40);
    vertical-align: top;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/*画面全体の分割*/
div#full_contaner {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

div#header {
    flex-basis: 75px;
}

div#body {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
}

div#sideBar {
    flex-basis: 100px;
    /*width: 10em;*/
}

div#menu {
    width: 100%;
    height: 100%;
    overflow: auto;
}

div#content {
    flex-basis: auto;
    flex-grow: 1;
}

iframe#viewer {
    width: 100%;
    height: 100%;
    border: 1px solid salmon;
}

/*要素の単なるデザイン*/
div {
    /*デバッグ用*/
    border: 1px solid black;
}

h1 {
    line-height: 8vmin;
    font-size: 7vmin;
}

p {
    font-size: 3vmin;
}