@charset "UTF-8";

* {
    color: rgb(40, 40, 40);
    vertical-align: top;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/*画面全体の分割*/
div#full_contaner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

div#full_contaner > div {
    min-height: 0;
}

div#header {
    height: 75px;
    flex-shrink: 0;
}

div#body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

div#body > div {
    max-width: 100%; /*要らないかも*/
}

div#sideBar {
    width: 15em;
    height: 100%;
    flex-shrink: 0;
}

div#menu {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: lightcoral;
}

div#content {
    flex-grow: 1;
    height: 100%;
}

iframe#viewer {
    width: 100%;
    height: 100%;
    border: 1px solid salmon;
}

body#content {
    padding: 1em 1.5em;
    height: fit-content;
    min-height: 100%;
}

/*サイドメニュー*/
div#menu * {
    margin: 0;
    padding: 0;
}

div#menu ul {
    padding-left: 1em;
    
}

div#menu > ul {
    padding-left: 2em;
}

div#menu li.topic {
    line-height: 3em;
    list-style-type: none;
}

div#menu li.part {
    line-height: 2em;
    list-style-type: upper-roman;
}

div#menu li.procedure {
    line-height: 3em;
    list-style-type: decimal;
}

div#menu li.column {
    line-height: 1.5em;
    list-style-type: "- ";
}

div#menu a {
    line-height: 2em;
    font-weight: bold;
    text-decoration: none;
}

/*要素の単なるデザイン*/
div {
    /*デバッグ用*/
    border: 1px solid black;
}

h1 {
    line-height: 10vmin;
    font-size: 8vmin;
    border-bottom: 3px solid black;
}

p {
    font-size: 3vmin;
}